@media (max-width : 1920px) {
    .container-3xl {
        width: 1560px;
    }
}
@media (max-width : 1680px) {
    .container-3xl {
        width: 1560px;
    }
}
@media (max-width : 1600px) {
    .container-3xl {
        width: 1435px;
    }
}
@media (max-width : 1440px) {
    .container-3xl {
        width: 1355px;
    }
}

@media (max-width : 1366px) {
    .container-3xl {
        width: 1200px;
    }
}
@media (max-width : 1280px) {
    .container-3xl {
        width: 1140px;
    }
}
@media (max-width: 1200px) {
    .container-3xl {
        width: 990px;
    }
  }
@media (min-width: 992px) and (max-width: 1200px) {
    .container-3xl {
        width: 960px;
    }
    .primary-title{
        font-size: 45px;
    }
    .quaternary-title {
        font-size: 40px;
    }
    .text-vi{
        font-size: 20px;
        font-weight: 400;
    }
  }
@media (max-width: 991px) {
    .container-3xl {
        width: 960px;
    }
    .primary-title{
        font-size: 45px;
    }
    .quaternary-title {
        font-size: 40px;
    }
    .text-iv{
        font-size: 16px;
    }
    .text-vi{
        font-size: 18px;
        font-weight: 400;
    }
  }
@media (min-width: 769px) and (max-width: 960px) {
    .container-3xl {
        width: 720px;
    }
    .primary-title{
        font-size: 32px;
    }
    .quaternary-title {
        font-size: 28px;
    }
    .text-iv{
        font-size: 16px;
    }
    .text-vi{
        font-size: 16px;
        font-weight: 400;
    } 
  } 
  @media (max-width: 768px) {
    .container-3xl {
        width: 720px;
    }
    .primary-title{
        font-size: 32px;
    }
    .quaternary-title {
        font-size: 28px;
    }
    .text-iv{
        font-size: 16px;
    }
    .text-vi{
        font-size: 16px;
        font-weight: 400;
    }
  }
  @media (min-width: 577px) and (max-width: 720px) {
    .container-3xl {
        width: 540px;
    }
    .text-v , .text-7{
        font-size: 18px;
    }
    .primary-title{
        font-size: 32px;
    }
    .quaternary-title{
        font-size: 28px;
    }
    .text-iv{
        font-size: 16px;
    }
    .text-vi{
        font-size: 16px;
        font-weight: 400;
    }
    
  }
  @media (max-width: 576px) {
    .container-3xl {
        width: 415px;
    }
    .text-v , .text-7{
        font-size: 18px;
    }
    .primary-title{
        font-size: 32px;
    }
    .quaternary-title{
        font-size: 28px;
    }
    .text-iv{
        font-size: 16px;
    }
    .text-vi{
        font-size: 16px;
        font-weight: 400;
    }
    
  }
  
  @media (max-width : 425px) {
    .secondary-title{
        font-size: 18px;
    }
    .container-3xl {
        width: 100%;
    }
    .transparent-btn{
        padding: 5px;
    }
    .primary-btn{
        padding: 5px;
    }
  }
  @media (max-width: 300px) {
    .secondary-title{
        font-size: 18px;
    }
    .text-v , .text-7{
        font-family: 16px;
    }
    .primary-title{
        font-size: 28px;
    }
    .quaternary-title {
        font-size: 24px;
    }
    .text-iv{
        font-size: 16px;
    }
    .text-vi{
        font-size: 16px;
        font-weight: 400;
    }
    .how-to-use-list {
        padding: 5px 5px;
    }
    .how-to-use-list-1 {
        padding: 5px 5px;
    }
    .transparent-btn{
        padding: 5px;
    }
    .primary-btn{
        padding: 5px;
    }
  }