@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(../css/variables.css);
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0;
    padding: 0;
}
.bg-green {
    background-color: var(--clr-light-green);
}
.bg-lightyello {
    background-color: var(--clr-light-new-yello);
}
.bg-lightgreen {
    background-color: var(--clr-light-skylight-1);
}
.bg-lightblue {
    background-color: var(--clr-light-skyblue);
}
.bg-lightgreen_1 {
    background-color: var(--clr-light-green-1);
}
.bg-lightgreen_2 {
    background-color: var(--clr-light-green-2);
}
.bg-darkblue {
    background-color : var(--clr-dark-blue);
}
.text-2 {
    font-size: 13px;
}
.text-secondary_2 {
    color: #fff;
}
.custom-btn{
    padding: 5px 10px;
    border-radius: var(--radius-xl);
    text-transform: capitalize;
    border: 1px solid  var(--clr-light-green);
    background-color : transparent;
    color:  var(--clr-light-green);;
    transition:  0.3s all ease-in-out;
}

.custom-btn:hover {
    background-color:  var(--clr-light-green);
    color: #fff;
}

.custom-btn-2{
    padding: 5px 10px;
    border-radius: var(--radius-xl);
    text-transform: capitalize;
    border: 1px solid  var(--clr-light-green);
    color : var(--clr-white);
    background-color:  var(--clr-light-green);
    transition:  0.3s all ease-in-out;
}
.custom-btn-2:hover {
    color:  var(--clr-light-green);
    background-color: var(--clr-white);
}
.custom-list li {
    width: 95px;
}
.custom-list li a {
    position: relative;
    &::after {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        background-color:  var(--clr-light-green);
        top: 200%;
        left: 0;
    }
}
.custom-list li a:hover {
    transition: 0.5s all ease-in-out;
    font-weight: 500;
    color:  var(--clr-light-green);
}
.custom-list li a:hover::after {
    transition: 0.5s all ease-in-out;
    width: 100%;
}
.min-w-130 {
    min-width: 150px;
    padding: 10px;
    font-size: 14px;
    border-radius: 12.5px;
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-direction: column;
}
.min-w-130 :n
.min-w-130:hover {
    border: 1px solid lightgray;
}

.drag .main_box {
    width: 100%; 
    border: 3px dashed  var(--clr-light-green);
}

.title_1 {
    text-align: center;
    padding: 30px 0 ;
    position: relative;
    z-index: 0;
    }
    .title_1 p{
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background-color:  var(--clr-light-green);
            position: absolute;
            left: 45%;
            bottom: 0;
            transition: width 0.3s ease-in-out;
        }
    }
    
.title_1 p:hover::after {
        width: 130px;
}

.btn3 {
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s all ease-in-out ;
  }
  .btn3:hover {
      background-color: var(--clr-light-green);
      color: var(--clr-white);
  }
  .btn3 i {
    padding-right: 10px;
  }


.icon_list .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14AE651C;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
}
.icon_list .icon:hover {
    color: #1B1C27;
    background-color: var(--clr-white);
}

.list-t1:hover {
    .box-list {
        background-color: var(--clr-light-green);
        color: var(--clr-white);
        box-shadow: var(--shadow-box);
        &::after {
            background-color: var(--clr-light-green);
        }
    }
    p{
        color: var(--clr-light-green);
    }
}

.list-t1:hover {
    .box-list-1 {
        background-color: var(--clr-light-green);
        color: var(--clr-white);
        box-shadow: var(--shadow-box);
    }
    p{
        color: var(--clr-light-green);
    }
}

.box-list{
    position: relative;
    &::after {
        content: '';
        width: 2px;
        height: 17px;
        background-color: lightgray;
        position: absolute;
        top: 100%;
        left: 50%;
        bottom: 0;
    }
}
